.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px, 170px;
}

.navme {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.navconnect {
    padding: 20spx, 0px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.00%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.navconnect:hover {
    transform: scale(1.05);

}

.navme li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}