.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px, 170px;
}

.navme {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.navconnect {
    padding: 20spx, 0px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.00%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.navconnect:hover {
    transform: scale(1.05);

}

.navme li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-close {
    display: none;
}

.nav-open {
    display: none;
}

@media(max-width:768px) {
    .navbar {
        margin: 20px 50px;
        position: relative;
    }

    .navconnect {
        display: none;

    }

    .nav-open {
        display: block;
        position: absolute;
        right: 30px;
    }

    .nav-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;

    }

    .navme {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1E0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .navme li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}

a {
    color: white;
    text-decoration: none;
}