.img {
    width: 180px;
    height: 120px;

}

.footer {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.top {
    display: flex;
    justify-content: space-between;




}

.top-left p {
    font-size: 15px;
    max-width: 400px;
}

.top-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.email-input {
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #32323B;
    padding-right: 80px;

}

.email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: 18px;

}

.subscribe {
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 36%, #B923E1 102.00%);
    font-weight: 600;
    cursor: pointer;
    transform: 0.3s;
}

.bottom {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.bottom-right {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.email-input:hover {
    border: 2px;
}

.subscribe:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.subscribe button {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}